.calculator.container.active {
    transition: ease-in-out 0.5s;
    transform: translate(-50%, 15%);
    position: absolute;
    left: 50%;
}

.calculator.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: ease-in-out 0.5s;
    transform: translate(-50%, 400%);
    position: absolute;
    left: 50%;
}

.calculator-screen {
    background-color: #F3F4F6;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

input {
    margin-left: auto;
    border-style: none;
    
}

.calc-current {
    text-align: right;
}

.calc-history {
    color: #888;
    font-size: 1rem;
}

.calc-result {
    color: #333;
    font-size: 2rem;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.calculator-buttons button {
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.calc-function {
    background-color: #E5E7EB;
}

.calc-number {
    background-color: #D1D5DB;
}

.calc-operation {
    background-color: #34D399;
    color: white;
}