@import url(reset.css);
@import url(toDo.css);
@import url(footer.css);
@import url(calculator.css);

body {
    background-image: url(../assets/images/monterey.jpg);
    background-size: cover;
    overflow: hidden;
}

header {
    display: none;
}

main {
    margin: auto;
    width: 100%;
    display: flex;
    position: relative;
}